body
{
    margin:0;
    padding:0;
    background-color: #eee;
   
}
.header
{
    width: 100%;
    //height: 100%;
    object-fit: contain;
    background-image:url("home-top-bg.png");
    background-repeat: no-repeat;
     background-size: 100% 100%;

}
.The-extension-has-be 
{
    width:23.2547%;
   // height:1.1713%;
    font-family: Arial;
    font-size: 0.875em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin:1.2445% 37.920% 1.2445% 0.7320%;
    float:right;
   

  
  
}
.checked-5 {
    width: 1.1713%;
    height: 1.1713%;
    object-fit: contain;
    
    margin:1.2445% 0% 1.2445% 36.920%;
   
}
.Line {
    width: 84.77%;
    height: 0.0732%;
    opacity: 0.5;
    border: solid 0.5px #ffffff;
    margin:0% 7.6134% 2.19619% 7.6134% ;
   
   
  }
  .Help-Us-Improve {
    width: 24.133%;
   // height:3.2210%;
    font-family: Arial;
    font-size: 2.5em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin:0 38.433% 0.732% 38.433%;
    
  
  }
  .Please-consider-shar{
    width: 68.86%;
   // height: 1.464%;
    font-family: Arial;
    font-size: 1.125em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin:0 16.10% 2.4% 16.10%;
  }
  .header:after{
      content:"";
      display: block;
      clear: both;
  }
  .Rectangle-Copy-9{
    width: 55.6%;
    height:54.831%;
    border-radius: 0.375em;
    background-color: #ffffff;
    
    margin:-1.5% 22.10% 0% 22.986%;
    
  }
  
  
  
  .Reason-not-listed-ab
  {
    width: 45.733%;
    height: 4.53%;
    font-family: Arial;
    font-size: 0.9375em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
    margin: 2.66% 33.46% 0 20.8%;
  
  }
  .Rectangle {
    width: 51.1%;
    height: 14.8%;
    border: solid 1px #f4f4f4;
    background-color: #f8f9fa;
    margin:2.66% 28% 2.66% 20.8%;
  }
  .Please-state-here {
    width: 30.468%;
    height:15.31%;
    font-family: Arial;
    font-size: 0.9375em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
    margin:3.90625% 65.116% 20.57% 3.90625%;
  }
  
  .Rectangle-Copy-8{
    width:51.1%;
    height:8.0106%;
    border: solid 1px #45b42f;
    background-color: #6ac259;
    margin:0 28% 8.533% 20.8%;
  }
  .SUBMIT {
    width: 23.69%;
    height: 41.66%;
    font-family: Arial;
    font-size: 1.375em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    margin:4.6875% 0 4.427% 35.67%;
    float:left;
  }
  .Path {
   width:4.0104%;
  
    object-fit: contain;
    float:right;
    
   margin:3.8% 34.79% 3.5% 1.8229%;
   
    
  }
  .Rectangle-Copy-8::after{
    content:"";
    display: block;
    clear: both;
  }
  .rectangle2{
    width:63.866%;
    height:51.66%;
    padding-top:4.4%;
    margin:0% 20.666% 0 15.466%;
}
.block-square {
    width:5.129% ;
    vertical-align: middle;
    height: 1.5625rem ;
    text-align: center;
    border-radius: 0.78125rem;
    
    background-color: #3585ee;
    display: inline-block;
    margin:0 0.5% 0 0;
  }
  .block-white {
    width:5.2192%;
    vertical-align: middle;
    height: 1.5625rem;
    text-align: center;
    border-radius: 0.78125rem;
    border: solid 0.0625rem #dadada;
    background-color: #ffffff;
    display: inline-block;
    margin:0 0.5% 0 0;
  }
  
  .head-2{
    width: 100%;
    margin:0 0 0 0;
  }
  .inline-block{
    margin: 0 0 0 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    font-family: Arial;
  font-size: 1.125em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.39;
  letter-spacing: normal;
  color: #4a4a4a;
  }
  .checked-7{
    margin:25% 0 30% 0;
  }
  @media screen and (max-width:1365px) and (min-width:1201px)
  {
    .header{
      width:100%;
      margin:0;
    }
    .The-extension-has-be {
      font-size: 0.75em;
    }
    .Help-Us-Improve{
      font-size:2em;
      margin-bottom:2%;
    }
    .Please-consider-shar{
      font-size:1em;
    }
    .inline-block{
      font-size: 1em;
    }
    .block-square{
      width:6.129%;
    }
    .block-white{
      width:6.129%;
    }
    .Reason-not-listed-ab{
      width:55.733%;
      margin:2.66% 30.46% 0 15.8%;
    }
    .Rectangle{
      width:55.733%;
      margin:2.66% 30.46% 5% 15.8%;
    }
    .Please-state-here{
      width:32.468%;
    }
    .Rectangle-Copy-8{
      width:55.9%;
      margin:0 28% 0% 15.8%;
    }
  }


  
  @media screen and (max-width:1200px) and (min-width:1025px)
  {
    .header{
      width:100%;
      margin:0;
      
    }
    .The-extension-has-be{
      width:70%;
      margin:1.5% 5% 0 3%;
      font-size:1.5em;
      float:right;
      color:lightgoldenrodyellow;
      
    }
    .Line{
      margin:1.5%;
      width:98%;
    }
    .checked-5{
      width:2.7%;
      margin:1.5% 0 0 19.1%;
      color:lightgoldenrodyellow;
    }
    .Help-Us-Improve{
      width:65%;
      margin:0 15% 1.5% 15%;
      font-size: 2em;
      text-align: center;
      color:lightgoldenrodyellow;
    
    }
    .Please-consider-shar{
      color:lightgoldenrodyellow;
      margin:0 4% 1.5% 4%;
      width:90%;
      font-size:1.5em;
      text-align:center;
    }
    .Rectangle-Copy-9{
      margin:0;
      width:100%;
      border:0px;
    }
    .rectangle2{
      width:100%;
      margin:0;
      padding-top:2.5%;
      padding-bottom:2.5%;
    }
    .Reason-not-listed-ab{
      width:75%;
      margin:0% 5% 0 5%;
      font-size:2em;
     }
     .Rectangle{
      width:85%;
      margin:2.5% 5% 2.5% 5%;
 
    }
    .Please-state-here{
      width:50%;
      font-size:2em;
    }
    .Rectangle-Copy-8{
      width:85%;
      height:5.5em;
      
      margin:2.5% 5% 2.5% 5%;
 
    }
    .SUBMIT{
      width:32%;
      font-size:1.5em;
      height:1.075em;
      text-align:right;
      margin:3.3% 0 3.3% 25%;
    }
    .Path{
      width:1.075em;
     
      height:1.675em;
      margin:2.9% 39% 4.1% 1%;
      float:right;
    }
    .block-square{
      width:1.875em;
      height:1.6875em;
      margin:2% 0.5% 0 2%;
      border-radius:95%;
    }
    .block-white{
      width:1.75em;
      border-radius:95%;
      margin:2% 0.5% 0 2%;
    }
    .inline-block{
      width:90%;
      font-size:2em;
      margin:2% 2% 0 0;
      line-height:1;
    }
    .checked-7{
      max-width: 100%;
      max-height: 100%;
      margin:25% 0 35% 0;
    }
  }

  @media screen and (max-width:1024px) and (min-width:701px)
  {
    .header{
      width:100%;
      margin:0;
      
    }
   .The-extension-has-be{
     width:75%;
     margin:2.5% 0 0 5%;
     font-size:1.3em;
     float:right;
     color:lightgoldenrodyellow;
   }
   .Line{
     display: none;
   }
   .checked-5{
     width:3.1%;
     margin:2.5% 0 0 16.1%;
     color:lightgoldenrodyellow;
   }
   .Help-Us-Improve{
     width:65%;
     margin:2.5% 15%;
     font-size:1.6em;
     text-align:center;
     color:lightgoldenrodyellow;
    

   }
   .Please-consider-shar{
     color:lightgoldenrodyellow;
     margin:0 4% 2.5% 4%;
     width:90%;
     font-size:1.3em;
     text-align:center;
   }
   .Rectangle-Copy-9{
     margin:0;
     width:100%;
    
     border:0px;
   }
   .rectangle2{
     width:100%;
     margin:0;
    padding-top:2%;
  padding-bottom: 2%;}
   .Reason-not-listed-ab{
     width:75%;
     margin:0 5% 2% 6.5%;
     font-size:1.5em;
    }
   
   .Rectangle{
     width:85%;
     margin:2% 5% 0 6.5%;

   }
   .Please-state-here{
     width:50%;
     font-size:1.5em;
   }
   .Rectangle-Copy-8{
     width:85%;
     height:4.5em;
     margin:2% 5% 2% 6.5%;

   }
   .SUBMIT{
     width:32%;
     font-size:1.2em;
     margin:3% 0% 3% 25%;
     text-align: right;
   }
   .Path{
    width:1em;
     
    height:1.5em;
    margin:2.3% 39% 4.1% 1%;
    float:right;
     
   }
   .block-square{
     width:1.875em;
     height:1.6875em;
     margin:2% 1% 0 2%;
     border-radius:90%;
   }
   .block-white{
     width:1.75em;
     border-radius:90%;
     margin:2% 1% 0 2%;
   }
   .inline-block{
     width:90%;
     font-size:1.5em;
     margin:2% 2% 0 0;
     line-height:1;
   }
   .checked-7{
     max-width:100%;
     max-height:100%;
     margin:25% 0 35% 0;
   }


  }
  @media screen and (max-width:700px) and (min-width:451px)
  {
    .header{
      width:100%;
      margin:0;
      
    }
    .The-extension-has-be{
      width:80%;
      margin:4% 0 0 2.8%;
      font-size:1em;
      float:right;
      color:lightgoldenrodyellow;
      
    }
    .Line{
      display: none;
    }
    .checked-5{
      width:3.3%;
      margin:4% 0 0 13.1%;
      color:lightgoldenrodyellow;
    }
    .Help-Us-Improve{
      width:65%;
      margin:5% 15%;
      font-size:1.2em;
      text-align:center;
      color:lightgoldenrodyellow;
     
 
    }
    .Please-consider-shar{
      color:lightgoldenrodyellow;
      margin:0 4% 4% 4%;
      width:90%;
      font-size:1em;
      text-align:center;
    }
    .Rectangle-Copy-9{
      margin:0;
      width:100%;
      
      border:0px;
    }
    .rectangle2{
      width:100%;
      margin:0;
      padding-top:3%;
      padding-bottom:3%;
    }
    .Reason-not-listed-ab{
      width:85%;
      margin:0 5% 3% 8.5%;
      font-size:1.3em;
     }
     .Rectangle{
      width:85%;
      margin:4.5% 5% 0 8.5%;
 
    }
    .Please-state-here{
      width:50%;
      font-size:1.3em;
    }
    .Rectangle-Copy-8{
      width:85%;
      height:3.5em;
      margin:4.5% 5% 3% 8.5%;
 
    }
    .SUBMIT{
      width:50%;
      
      font-size:1.2em;
      margin:2.6% 25% 3.2% 25%;
    }
    .Path{
     display: none;
    }
    .block-square{
      width:1.6875em;
      height:1.6875em;
      margin:2% 1% 0 2%;
      border-radius:60%;
    }
    .block-white{
      width:1.5625em;
      
      border-radius:60%;
      margin:2% 1% 0 2%;
    }
    .inline-block{
      width:88%;
      font-size:1.3em;
      margin:2% 2% 0 0;
      line-height:1;
    }
    .checked-7{
      max-height: 100%;
      max-width:100%;
      margin:28% 0 35% 0;
    }

  
 
  }
  @media screen and (max-width:450px)
  {
    body{
      width:100%;
      height:100%;
     
    }
    .header
  {
    width: 100%;
     margin:0;
    object-fit: contain;
    background-image:url("home-top-bg.png");
    background-repeat: no-repeat;
    

   }
   .The-extension-has-be{
    width:85%;
   margin:3.5% 2% 0 2%;
   float:right;
   font-size:0.8em;
   text-align:center;
   color:lightgoldenrodyellow;

   }
   .checked-5{
     margin: 3.5% 0 0 5% ;
     width:4.5%;
     
    
   }
   .Line{
    
     display:none;
   }
   .Help-Us-Improve{
     margin:3.5% 5% 0% 12%;
    width:70.22%;
    font-size:1em;
    color:lightgoldenrodyellow;
    text-align:center;
   }
   .Please-consider-shar{
     margin:3% 0 3.5% 3%;
     width:90%;
      font-size:0.8em;
     color:lightgoldenrodyellow;
     ;
     

   }
   .Rectangle-Copy-9{
     margin:0;
     border:0px;
     width:100%;
     

   }
   .rectangle2{
     width:100%;
    margin:0;
    padding-top:5%;
    padding-bottom:5%;
   }
   .Reason-not-listed-ab{
     width:90%;
     margin:5% 5% 0 5%;
     font-size:0.8;
     
     
   }
   .Rectangle{
     margin:5% 5% 0 5%;
     width:85%;
   }
   .Please-state-here{
     width:50%;
     margin:5% 2% 5% 2%;
     font-size:0.8em;
   }
   .Rectangle-Copy-8{
     margin:5% 5% 5% 5%;
     width:85%;
     height:2.2em;
   }
   .SUBMIT {
     width:50%;
     margin:3% 25% 2.8% 25%;
     font-size:0.8em;
     

   }
   .Path{
     display: none;
   }
   .block-square{
     width:1.5em;
     height:auto;
     border-radius:50%;
     margin:3.5% 2.5% 0 2%;
   }
   .block-white{
     width:1.40625em;
     
     border-radius:50%;
    
     margin:3.5% 2.5% 0 2%;
   }
   .inline-block{
     width:79%;
     font-size:1em;
     line-height:1;
     margin:3.5% 5% 0 0;
   }
   .checked-7{
     max-width:100%;
     max-height: 100%;
     margin:30% 0 30% 0;
   }

  }
 

  
 
  
 
