body{
    padding:0;
    margin:0;

}
.rectangle{
    width:750px;
    height:387px;
    
}
.rectangle2{
    width:479px;
    height:387px;
    border:2px solid black;
    margin:4.4% 20.666% 0 15.466%;
}
.block-square {
    width:5.129% ;
    vertical-align: middle;
    height: 1.5625rem ;
    text-align: center;
    border-radius: 0.78125rem;
    
    background-color: #3585ee;
    display: inline-block;
    margin:0 0.5% 0 0;
  }
  .block-white {
    width:5.2192%;
    vertical-align: middle;
    height: 1.5625rem;
    text-align: center;
    border-radius: 0.78125rem;
    border: solid 0.0625rem #dadada;
    background-color: #ffffff;
    display: inline-block;
    margin:0 0.5% 0 0;
  }
  
  .head-2{
    width: 100%;
    margin:0 0 0 0;
  }
  .inline-block{
    margin: 0 0 0 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    font-family: Arial;
  font-size: 1.125em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.39;
  letter-spacing: normal;
  color: #4a4a4a;
  }
  